<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean id="userDao" class="com.jmc.dao.impl.UserDaoImpl"></bean>-->
<!--    <bean id="userDao" class="com.jmc.factory.StaticFactory" factory-method="getUserDao"></bean>-->
<!--    <bean id="dfactory" class="com.jmc.factory.DynamicFactory"></bean>-->
<!--    <bean id = "userDao" factory-bean="dfactory" factory-method="getUserDao"></bean>-->

    <bean id="user1" class="com.jmc.domain.User">
        <property name="name" value="Tom"/>
        <property name="addr" value="Beijing"/>
    </bean>
    <bean id="user2" class="com.jmc.domain.User">
        <property name="name" value="Lucy"/>
        <property name="addr" value="Tianjin"/>
    </bean>

    <bean id="userDao" class="com.jmc.dao.impl.UserDaoImpl">
        <property name="username" value="Jmc"/>
        <property name="age" value="18"/>
        <property name="strList">
            <list>
                <value>aaa</value>
                <value>bbb</value>
                <value>ccc</value>
            </list>
        </property>
        <property name="userMap">
            <map>
                <entry key="u1" value-ref="user1"/>
                <entry key="u2" value-ref="user2"/>
            </map>
        </property>
        <property name="properties">
            <props>
                <prop key="p1">ppp1</prop>
                <prop key="p2">ppp2</prop>
                <prop key="p3">ppp3</prop>
            </props>
        </property>
    </bean>
<!--    <bean id="userService" class="com.jmc.service.UserServiceImpl">-->
<!--        name是set方法方法名set后面的全部内容-->
<!--        <property name="userDao" ref="userDao"/>-->
<!--    </bean>-->
<!--    <bean id="userService" class="com.jmc.service.UserServiceImpl" p:userDao-ref="userDao"/>-->

    <bean id="userService" class="com.jmc.service.UserServiceImpl">
        <constructor-arg index="0" name="userDao" ref="userDao"/>
        <constructor-arg index="1" name="msg" value="what"/>
    </bean>

<!--    <import resource="applicationContext-user.xml"/>-->
<!--    <import resource="applicationContext-product.xml"/>-->

</beans>